*.iml
/local.properties
.gradle
.idea/caches
/.idea/cachesgit
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
